*{
    margin: 0;
}
article {
    font-family: 'Open Sans', sans-serif;
}

/* ----------------------------------- se1 -------------------------- */
#se1-main {
    background: linear-gradient(#66bafa, white);
    width: 100%;
}

.se1-h1 {
    text-transform: uppercase;
    margin: 10px;
    font-size: 48px;
}

.se1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.se1-block {
    text-align: center;
    width: 50%;
    margin: 20px;
    height: auto;
}
.se1-right-image {
    width: 100%;
    object-fit: contain;
}
.se1-left-text-p {
    text-align: justify;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0;
    text-indent: 40px;
    font-size: 20px;
    font-family: Calibri;
    font-weight: 100;
}
#se1-h1-br {
    display: none;
}
/* ----------------------------------- se1-end -------------------------- */

/* ----------------------------------- se2 -------------------------- */
#se2-main {
    background-color: #f0f4f5;
    width: 100%;
}
/* ----------------------------------- se2-end -------------------------- */

/* ----------------------------------- se3 -------------------------- */
#se3-main {
    background-image: url("images/se3-main-background.png");
    width: 100%;
}
#se3 {
    align-items: stretch;
    height: auto;
}

#se3-left-block-img-container {
    background-image: url("images/se3-left-devices-image.jpg");
    width: 40%;
    margin: 0;
}

#se3-right-block-container {
    width: 60%;
}
.se3-h2{
    text-align: left;
}
#se3-icon-container-div {
    padding: 20px;
    margin-right: 15px;
    background-color: white;
    border-radius: 50%;
}

.icon-flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.se3-block-container {

}

/* ----------------------------------- se3-end -------------------------- */

/* ------------------------- se7 ------------------------------- */

#se7-main {
    background-image: url("images/introEnd.png"),linear-gradient(#4d3d29, white);
    background-repeat: no-repeat, repeat;
    background-color: rgb(245, 243, 235);
    background-size: cover;
    background-position: right;
    height: auto;
    padding-top: 110px;
    padding-bottom: 110px;
}

.se7 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}

.se7-block {
    margin-left: 10%;
    margin-right: 50%;
    text-align: left;
    font-size: 30px;
}

.se7-block-p {
    font-size: 20px;
    font-weight: 100;
    font-family: Calibri;
    padding-top: 10px;
    padding-bottom: 10px;

}
.se7-block-h5 {
    text-transform: uppercase;
    font-size: 48px;
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "NotoColorEmoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
}
.se7-block-button {
    font-family: Calibri;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.se7-block-button:hover {
    background-color: #555555;
    color: white;
}

/* ------------------------- se7-end --------------------------- */


@media all and (max-width: 1514px) {
    #se1-h1-br {
        display: inline;
    }
}
@media all and (max-width: 1000px) {
    .se1 {
        flex-direction: column;
    }
    #se2 {
        flex-direction: column-reverse;
    }
    .se1-block {
        width: 90%;
    }
}

#se3-left-block-img-container {
    width: 0;
    margin-right: 10%;
}

#se3-right-block-container {
    width: 90%;
}

@media all and (max-width: 800px) {
    #se7-main {
        background-position: left;
    }
    .se7-block {
        margin-left: 20%;
        margin-right: 20%;
        text-align: left;
        font-size: 30px;
    }
}

@media all and (max-width: 600px) {

    .se7-block {
        margin-left: 10%;
        margin-right: 10%;
    }
}