/*-------------------------------------------------------------- MAIN-CONTENT----------------------------------------------------------------------- */

/* ------------------------- se1 --------------------------- */
#se1 {
    display: block;
    float: left;
    background-image: url("images/se1-background-image.jpg");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}
.se1-container {
    float: left;
    width: 50%;
    height: 500px;
    color: white;
}

#se1-right-text {
    margin-right: 15%;
    margin-top: 3%;
    background: rgb(0,0,0,0.5);
}

#se1::after {
    content: "";
    clear: both;
    display: table;
}
#se1-logo {
    margin-left: 15%;
    margin-top: 3%;
    width: 70%;
    height: auto;
    max-height: 450px;
    max-width: 450px;
    border-radius: 50%;
}
#se1-right-p {
    padding: 25px;
    text-indent: 40px;
    text-align: justify;
    /* letter-spacing: 3px;*/
    /*font-family: 'Roboto', sans-serif;*/
    /* font-family: 'Open Sans', sans-serif; */
}
/* ------ button ------ */
.se-button-detail {
    display: inline-block;
    border-radius: 4px;
    background-color: #4da6ff;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.se-button-detail:hover {
    background-color: #e6b800;
    color: white;
}

.se-button-detail span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.se-button-detail span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.se-button-detail:hover span {
    padding-right: 25px;
}

.se-button-detail:hover span:after {
    opacity: 1;
    right: 0;
}


/* ------ button-end ------ */

/* ------------------------- se1-end --------------------------- */

/* ------------------------- se2--------------------------- */

#se2 {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    width: auto;

}
#se2-80 {
    margin: auto auto;
    text-align: center;
    width: 90%;
}

#se2-left-text {
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    width: 40%;
}

#se2-h2 {
    padding-left: 5%;
    padding-right: 5%;
}
.se-main-text-p {
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
    text-indent: 40px;
}

.se-quote-p {
    text-align: left;
    margin-left: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-left: 10px solid #ffeb99;
    font-style: oblique;
}
span.se-quote-author{
    color: #ffd45e;
}

.se-hr {
    margin: auto auto;
    width: 80%;
    border: 3px solid white;
}

#se2-img-container {
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
    width: 60%;
}

.div-clear {
    clear: both;
}


#se2-img-container-1 {
    float: left;
    width: 53.65%;
}

#se2-img-container-2 {
    float: right;
    width: 46.35%;
}


#se2-img-container-1 img{
    object-fit: contain;
    width: 95%;
    height: auto;
}
#se2-img-container-2 img{
    object-fit: contain;
    width: 95%;
    height: auto;
}


/* ------------------------- se2-end --------------------------- */

/* ------------------------- se3 --------------------------- */
#se3-main {
    background-image: url("images/se3-background-people-at-the-table.jpg"),linear-gradient(#4d3d29, white);
    background-repeat: no-repeat, repeat;
    background-color: rgb(245, 243, 235);
    background-size: cover;
    background-position: center;
    
    height: auto;
    padding: 100px;
}

.se3 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.se3-block {
    background: rgb(214, 214, 214, 0.8);
    width: 320px;
    margin: 15px;
    text-align: center;
    font-size: 30px;

}
.se3-block-img {
    width: 180px;
    height: 120px;
}
.se3-block-p {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 16px;
    font-style: oblique;
    margin: 10px;
}
.se3-block-h5 {
    margin: 10px;
}
.se3-block-button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.se3-block-button:hover {
    background-color: #555555;
    color: white;
}
#se3-block-button-detail {
    color: white;
    background-color: black;
    width: auto;
    padding: 20px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;
    border-radius: 5px;
}
#se3-block-button-detail:hover {
    background-color: #eaf5cb;
    color: black;
}

#se3-block-button-container {
    background: none;
    padding: 0;
    width: auto;
}

/* ------------------------- se3-end --------------------------- */


/* ------------------------- se4 --------------------------- */
#se4-main {
    background-image: url("images/geometry-background.png"),linear-gradient(#80849c,#dcdce0);
    background-repeat: no-repeat, repeat;
    background-color: rgb(245, 243, 235);
    background-size: cover;
    background-position: center;
    height: auto;
    padding: 100px;
}

.se4 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.se4-block {
    padding-left: 3%;
    background: #f5f5f5;
    width: 320px;
    margin: 15px;
    text-align: left;
    font-size: 30px;

}
.se4-block-img {
    padding-top: 5%;
    width: 60px;
    height: 60px;
    filter: invert(60%);
}
.se4-block-p {
    font-size: 16px;
    font-style: italic;
    margin-top: 15px;
    color: grey;

}
.se4-block-h5 {
    font-weight: 300;
}
.se4-block-button {
    color: black;
    border: none;
    border-bottom: 2.5px solid #ff8317;
    border-radius: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-style: italic;
    margin-bottom: 15px;
}
.se4-block-button:hover {
    border-bottom: 2.5px solid #84a4e8;
}
#se4-block-button-detail {
    color: white;
    background-color: black;
    width: auto;
    padding: 20px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;
    border-radius: 5px;
}
#se4-block-button-detail:hover {
    background-color: #84a4e8;
    color: black;
}

#se4-block-button-container {
    background: none;
    padding: 0;
    width: auto;
}

/* ------------------------- se4-end --------------------------- */


/* ------------------------- se5-------------------------------- */

#se5-main {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, white 50%, #212120 50%);
}
.se5-h1 {
    padding-top: 3%;
    text-align: center;
    font-size: 48px;
    font-weight: 300;
   /* font-family: "Apple Color Emoji", "Segoe UI Emoji", "NotoColorEmoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";*/
}
.se5-p {
    text-align: center;
    padding-top: 20px;
    line-height: 1.5;
    font-size: 20px;
    padding-bottom: 20px;
    font-family: "Calibri Light";
}

.se5 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.se5-block {
    width: 320px;
    margin: 7px;
    text-align: left;
    font-size: 30px;
    color: white;

}
.se5-block-img {
    width: 250px;
    height: 250px;
}
.se5-block-p {
    font-size: 16px;
    width: 180px;
}
.se5-block-h5 {
    margin-top: 10px;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 10px;
}
.se5-block-button {
    font-family: "Calibri Light";
    background-color: transparent;
    border: none;
    padding-bottom: 3px;
    border-bottom: 1.5px solid white;
    color: white;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 1px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.se5-block-button:hover {
    background-color: #555555;
    color: white;
}
#se5-block-button-detail {
    color: white;
    background-color: rgb(72, 68, 120, 0.5);
    width: auto;
    padding: 30px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    border-radius: 5px;
}
#se5-block-button-detail:hover {
    background-color: #d0d5db;
    color: black;
}

#se5-block-button-container {
    background: none;
    padding: 0;
    width: auto;
}

/* ------------------------- se5-end --------------------------- */

/* ------------------------- se6 ------------------------------- */

#se6-main {
    background-image: url("images/OldCityDockStreet.jpg"),linear-gradient(#80849c,#dcdce0);
    background-repeat: no-repeat, repeat;
    background-color: rgb(245, 243, 235);
    background-size: cover;
    background-position: center;
    height: auto;
    padding: 100px;
}
.se6 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

.se6-block {
    width: 320px;
    margin: 7px;
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: rgb(18, 15, 36, 0.5);
}

.se6-block-p {
    border-left: 3px solid white;
    font-size: 16px;
    font-style: italic;
    line-height: 1.5;
    padding: 5px;
}
.se6-block-h5 {
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    font-size: 60px;
    margin-bottom: 10px;
}

/* ------------------------- se6-end --------------------------- */


/*-------------------------------------------------------------- MAIN-CONTENT-END----------------------------------------------------------------------- */

/* ------------- MEDIA -------------------------- MEDIA -------------------------- MEDIA -------------------------- MEDIA ------------- */
@media all and (max-width: 1200px) {

    #se1 {
        width: auto;
        height: 550px;
    }
    #se2-left-text {
        width: 50%;
    }
    #se2-img-container {
        width: 50%;
    }

}

@media all and (max-width: 1050px) {

    #se1 {

        width: auto;
        height: 600px;
    }
    #se3-main {
         background-size: 1050px, 1050px;
         background-position-x: center;
         background-position-y: top;
     }
    #se4-main {
        background-size: 1050px, 1050px;
        background-position-x: center;
        background-position-y: top;
    }

}

@media all and (max-width: 1000px) {
    .se6 {
        flex-wrap: wrap;
    }
}

@media all and (max-width: 1040px) {
    .se3 {
        /*flex-direction: column;*/
        flex-wrap: wrap;
    }
}

@media all and (max-width: 980px) {

    #se1 {

        width: auto;
        height: 650px;
    }

}

@media all and (max-width: 950px) {
    #se2-left-text {
        width: 100%;
    }
    #se2-img-container {
        width: 100%;
        float: left;
    }
}


@media all and (max-width: 880px) {

    #se1 {

        width: auto;
        height: 900px;

    }

    .se1-container {
        display: block;
        width: 100%;
        float: left;
        height: auto;
        color: white;
    }

    #se1-2-container {
        display: block;
        width: 100%;
    }

    #se1-right-text {
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 3%;
        background: rgb(0,0,0,0.5);
    }

    #se1::after {
        content: "";
        clear: both;
        display: table;
    }
    #se1-logo {
        margin-left: 15%;
        margin-top: 3%;
        width: 70%;
        height: auto;
        max-height: 450px;
        max-width: 450px;
        border-radius: 50%;
    }
    #se1-right-p {
        padding: 30px;
        text-indent: 50px;
        text-align: justify;
        letter-spacing: 3px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        /* font-family: 'Open Sans', sans-serif; */
    }
    .se5 {
        flex-wrap: wrap;
    }
    #se5-main {
        height: 100%;
        width: 100%;
        background: linear-gradient(to bottom, white 30%, #212120 30%, #212120 30%);
    }

}

@media all and (max-width: 755px) {

    .se4 {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media all and (max-width: 715px) {

    #se1 {

        width: auto;
        height: 1000px;
    }
}
@media all and (max-width: 690px) {

    #se5-main {
        height: 100%;
        width: 100%;
        background: linear-gradient(to bottom, white 25%, #212120 25%, #212120 25%, #212120 25%);
    }
}

@media all and (max-width: 380px) {

    #se1 {

        width: auto;
        height: 1100px;
    }
}

@media all and (max-width: 345px) {

    #se1 {

        width: auto;
        height: 1200px;
    }
}

/* ------------- MEDIA -------------------------- MEDIA -------------------------- MEDIA -------------------------- MEDIA ------------- */