/*
Скроем полностью checkbox в блоке .dws-menu, они нам тут не понадобятся.
Пропишем их выше основных стилей так как к @media запросам они не относятся.
 */
.dws-menu [type="checkbox"]{
    display: none;
}

/*
Затем стилиллизуем кнопку label, код опишем выше @media запроса,
что бы эти стили применялись изначально когда страничка загрузилась.
Отбираем кнопку .dws-menu label.toggleMenu, задаем задаем ей цвет background: #C9C9C9;,
и делаем кнопку блочным элементом, что бы она приняла форму данного меню.
 */
.dws-menu label.toggleMenu{
    background: #C9C9C9;
    display: block;
}
/*
Приводим ее к внешнему виду, как выглядят основные кнопки.
Для этого сделаем внутренние отступы padding: 15px 40px; ,
текст пропишем заглавными буквами и немного его уменьшаем. При наведении делаем cursor: pointer;.
Далее с позиционируем иконку, и для этого зададим блоку position: relative;:
 */
.dws-menu label.toggleMenu{
    background: #C9C9C9;
    display: block;
    padding: 15px 40px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    position: relative;
}

/*
Отбираем иконку, и позиционируем ее абсолютно данному блоку,
увеличим до 18 пик. что бы она сочеталась с остальными иконками.
 */
.dws-menu label.toggleMenu .fa{
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
}

/*
При широком расширении, тоже ее скрываем:
 */
.dws-menu label.toggleMenu{
    background: #C9C9C9;
    display: none;
    padding: 15px 40px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    position: relative;
}

/*
опишем медиа запрос под расширения менее 800 пик.
Пишем стандартную конструкцию media запроса.
Основному блоку меню с классом .dws-menu
добавляем overflow: hidden; для того чтобы сформировать отступ от краев.
 */
@media all and (max-width: 1100px) {
    * {
        box-sizing: border-box;
    }

    #top-menu::after {
        content: "";
        clear: both;
        display: table;
    }

    #a {
        margin-left: 5%;
        float: left;

    }

    #b  {
        float: left;
        position: absolute;
        margin-left: 60%;

    }

    .menu-main {

    }

    .dws-menu{
        overflow: hidden;
    }
    /*
    Предварительно выстроим меню в вертикальном виде, для этого достаточно сделаем UL блочным элементом.
     */
    .dws-menu ul{
        display: block;
    }

    .dws-menu ul{
        display: none;
    }

    .dws-menu label.toggleMenu{
        padding-top: 27px;
        display: block;
        width: 100px;
        height: 50px;

    }

    /*
    Следующим этапом по щелчку нужно поменять цвет на более темный и развернуть основной список.
    Для этого будем отслеживать щелчок мышкой и менять цвет кнопки.
    Отбираем кнопку при щелчке, и применяем к ней действия, меняем цвет кнопки и шрифта:
    */
    input.toggleMenu:checked + label.toggleMenu{
        background: #000;
        color: #fff;
    }

    /*
    Далее прописываем отображение основного списка меню.
    Отбираем щелчек по кнопке, и при помощи данной конструкции  описываем к чему его применить.
    */
    input.toggleMenu:checked ~ ul{
        display: block;
    }

    /*
    Для удобства просмотра выпадающих списков я в основном стиле
    скрою отступ меню, что бы его расположить в самом верху экрана.
     */
    header{
        /*margin-top: 200px;*/
        font-family: Cuprum, Arial, Helvetica, sans-serif;
    }

    /*
    При нажатии видим небольшой отступ, давайте его скроем,
    в основных стилях добавляем его к описываемому до этого стилю.
    */
    .dws-menu [type="checkbox"],
    .dws-menu label.toggleSubmenu{
        display: none;
    }

    /*
    И по аналогии как делали до этого, отображаем пункты по щелчку,
    для этого отберем label в субменю, позиционируем его абсолютно с нулевыми значениями,
    ширину и высоту делаем по 100%, задаем курсор, хотя он и не обязательный  в мобильной версии,
    но нам для удобства он не помешает. Обязательно прописать, что это блочный элемент:
     */
    .dws-menu label.toggleSubmenu{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: block;
    }
    /*
   При нажатии на пункт меню меняем цвет фона и шрифта:
    */
    input.toggleSubmenu:checked ~ a{
        background: #454547;
        color: #fff;
    }
    /*
    Далее разворачиваем все пункты подменю:
    */
    input.toggleMenu:checked ~ ul,
    input.toggleSubmenu:checked ~ ul{
        display: block;
        position: relative;
    }

    /*
    Для того что бы видеть какой из пунктов имеет подменю, добавим соответствующую иконку в виде треугольника.
    Отбираем libel субменю и при помощи псевдоэлементов добавим иконку с подключенных шрифтов.
    Цвет делаем у нее серым:
     */
    .dws-menu label.toggleSubmenu .fa::before{
        content: "\f0d7";
        color: #454547;
    }

    /*
    С позиционируем иконку по правой стороне:
    */
    .dws-menu label.toggleSubmenu .fa{
        position: absolute;
        top: 15px;
        right: 30px;
    }

    /*
    И нахватает второй иконки, которая будет отображать,
    что пункт развернут при щелчке, для этого отбираем субменю
    по щелчку и меняем иконку, а также задаем белый цвет:
    */
    .dws-menu input.toggleSubmenu:checked ~ label.toggleSubmenu .fa::before{
        content: "\f0d8";
        color: #ffffff;
    }

    /*
    Отбираем вложенные меню и позиционируем его абсолютно с отступами в автомате:
    */
    .dws-menu li > ul li ul{
        position: absolute;
        right: auto;
        top: auto;
    }

    /*
    ------------- Анимирование элементов -----------
    */

    /*
    Идея анимирования не просто появления меню, а плавное его выезжание по клику с верху в низ.
    Для этого нам нужно задействовать высоту блока и повещаем на нее анимацию.
    Меняем у блока ul display на block, и скрываем его не при помощи none, а про помощи max-height в ноль.
    Прописываем дополнительно transition в 0,3 сек по данному параметру.
    */
    .dws-menu ul{
        display: block;
        max-height: 0;
        transition: max-height 0.3s;
    }

    /*
    А при клике добавляем max-height: 5000px; и transition делаем в 2 сек.
    */
    input.toggleMenu:checked ~ ul,
    input.toggleSubmenu:checked ~ ul{
        display: block;
        position: relative;
        max-height: 5000px;
        transition: max-height 2s ease-in;
    }

}

