* {
    font-family: Helvetica, Helvetica;
    /*font-family:Snell Roundhand, cursive;*/
}
#se1 {
    background-color: black;
    color: white;
}

.se1-h1 {
    text-align: center;
    /*
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 24px;
     font-style: normal;
     font-variant: normal;
     font-weight: 700;
     line-height: 26.4px;
     */
}
.main-h1 {
    text-transform: uppercase;
    text-align: center;
}

.se1-p {
    /*
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    */
    text-indent: 20px;
    text-align: justify;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-div1 {
    margin: 15px;
    width: 60%;
    background-color: red
}
.flex-div2 {
    margin: 15px;
    width: 40%;
    background-color: red
}
.se1-img {
    width: 100%;
    height: auto;
}
/* new css------------------------*/
#se2 {
    background-color: grey;
    color: white;
}
#se3 {
    background-color: darkgrey;
    color: white;
}
/* new css-end -----------------------*/
